*{
    padding: 0;
    margin: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}
body {
    width: 1240px;
    margin: 0 auto 50px;
    background-color: lightcyan;
}
.LOGO{
    margin: 0;
    padding: 0;
}
.nav {
    font-weight: 700;
    font-size: 15pt;
}
.w-100 {
    width: 100% !important;
    height: 75vh;
    margin-bottom: 10px;
  }
h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}
.img-message {
    font-size: 32px;
}
.message {
    font-size: 28px;
}
.TOP-title {
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
}
.card-group {
    text-align: center;
}
span {
    color: cornflowerblue;
    padding: 20px;
}
.ABOUTUS {
    text-align: center;
}
.about-img {
    text-align: center;
}
.about-text{ 
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 900;
    margin:  0 ;
    padding: 50px;
    letter-spacing: .1em;
    line-height: 1.8;
}
.SHOPINFO-text {
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 900;
    margin:  0 ;
    padding: 10px;
    letter-spacing: .1em;
    line-height: 1.8;
}
.map {
    text-align: center; 
}
.map-text {
        text-align: center;
        font-family: 'Zen Maru Gothic', sans-serif;
        font-weight: 900;
        margin:  0 ;
        padding: 50px;
        letter-spacing: .1em;
        line-height: 1.8;
    }
.about-img{
    vertical-align: bottom;
}
footer{
    background-color: #ffc107
}
h6 {
    color:#007bff;
    font-size: 20px;
}